# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
saves
crash-reports
debug
local
logs
mods
screenshots
schematics

Refined-Armor-1.0-1.19
Better+Create+Palettes+1.2+1.19.zip
Infernal Resources.zip
Jappafied+Aether+1.19.2+Preview.zip
Naturalist Old Models.zip
Quark Programmer Art.zip
VanillaTweaks_r291342.zip
witherstrand.zip

# Files from Forge MDK
forge*changelog.txt
